In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
country_data = pd.read_csv('/Users/emilyschner/Project3/Metadata.csv', encoding='Windows-1252', skipfooter=3168, usecols=['Country Name', 'Country Code', 'Series Name', 'Series Code', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]', '2023 [YR2023]'], engine='python')
country_data

,Country Name,Country Code,Series Name,Series Code,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Argentina,ARG,Access to electricity (% of population),EG.ELC.ACCS.ZS,100,99.7,99.9,100,100,100,100,100,100,..
1,Argentina,ARG,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,50.2,..,..,48.71,..,..,..,71.63,..,..
2,Argentina,ARG,Adequacy of social protection and labor progra...,per_allsp.adq_pop_tot,38.58560335,..,37.84584176,39.68798911,38.7727308,39.04418575,39.30133787,36.56051927,..,..
3,Argentina,ARG,"Air transport, passengers carried",IS.AIR.PSGR,12121912.82,14245183,15076354,16749271,18084553,19461377,3680874,6708097,..,..
4,Argentina,ARG,Compensation of employees (current LCU),GC.XPN.COMP.CN,1.38384E+11,1.87407E+11,2.56289E+11,3.16033E+11,3.8705E+11,5.31295E+11,6.83039E+11,1.0684E+12,1.9792E+12,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13947,World,WLD,Total tax and contribution rate (% of profit),IC.TAX.TOTL.CP.ZS,40.58042328,40.46666667,40.31322751,40.35396825,40.29157895,40.38368421,..,..,..,..
13948,World,WLD,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,5.60791665,..,..,5.609422796,5.978885505,5.864179884,6.715824355,6.206631807,..,..
13949,World,WLD,Voice and Accountability: Estimate,VA.EST,..,..,..,..,..,..,..,..,..,..
13950,World,WLD,Women making their own informed decisions rega...,SG.DMK.SRCR.FN.ZS,..,..,..,..,..,..,..,..,..,..
13951,World,WLD,Women participating in the three decisions (ow...,SG.DMK.ALLD.FN.ZS,..,..,..,..,..,..,..,..,..,..

In [3]:
# Drop columns that are not needed
country_data_dropped = country_data.drop(columns=['Series Code','2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2023 [YR2023]'])
country_data_dropped

,Country Name,Country Code,Series Name,2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Argentina,ARG,Access to electricity (% of population),100,100,100,100,100
1,Argentina,ARG,Account ownership at a financial institution o...,..,..,..,71.63,..
2,Argentina,ARG,Adequacy of social protection and labor progra...,38.7727308,39.04418575,39.30133787,36.56051927,..
3,Argentina,ARG,"Air transport, passengers carried",18084553,19461377,3680874,6708097,..
4,Argentina,ARG,Compensation of employees (current LCU),3.8705E+11,5.31295E+11,6.83039E+11,1.0684E+12,1.9792E+12
...,...,...,...,...,...,...,...,...
13947,World,WLD,Total tax and contribution rate (% of profit),40.29157895,40.38368421,..,..,..
13948,World,WLD,"Unemployment, total (% of total labor force) (...",5.978885505,5.864179884,6.715824355,6.206631807,..
13949,World,WLD,Voice and Accountability: Estimate,..,..,..,..,..
13950,World,WLD,Women making their own informed decisions rega...,..,..,..,..,..
13951,World,WLD,Women participating in the three decisions (ow...,..,..,..,..,..

In [4]:
# Filter data frame to only include data for 2019
yearlydata_2018 = country_data_dropped.drop(columns=['2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]'])

# Replace '..' with np.nan and convert the column to float
yearlydata_2018["2018 [YR2018]"] = yearlydata_2018["2018 [YR2018]"].replace('..', np.nan).astype(float)

# Pivot series name values to be the columns
pivoted2018_df = yearlydata_2018.pivot_table(index=["Country Name", "Country Code"], 
                           columns="Series Name", 
                           values="2018 [YR2018]",
                           aggfunc='mean')
# Interpolate null values
pivoted2018_df_interpolated = pivoted2018_df.interpolate()
pivoted2018_df_interpolated.dropna()

# Save to csv
pivoted2018_df_interpolated.to_csv('2018_data.csv')

In [6]:
# Filter data frame to only include data for 2019
yearlydata_2019 = country_data_dropped.drop(columns=['2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]'])

# Replace '..' with np.nan and convert the column to float
yearlydata_2019["2019 [YR2019]"] = yearlydata_2019["2019 [YR2019]"].replace('..', np.nan).astype(float)

# Pivot series name values to be the columns
pivoted2019_df = yearlydata_2019.pivot_table(index=["Country Name", "Country Code"], 
                           columns="Series Name", 
                           values="2019 [YR2019]",
                           aggfunc='mean')
# Interpolate null values
pivoted2019_df_interpolated = pivoted2019_df.interpolate()
pivoted2019_df_interpolated.dropna()

# Save to csv
pivoted2019_df_interpolated.to_csv('2019_data.csv')

In [8]:
# Filter data frame to only include data for 2020
yearlydata_2020 = country_data_dropped.drop(columns=['2019 [YR2019]', '2021 [YR2021]', '2022 [YR2022]', '2018 [YR2018]'])

# Replace '..' with np.nan and convert the column to float
yearlydata_2020["2020 [YR2020]"] = yearlydata_2020["2020 [YR2020]"].replace('..', np.nan).astype(float)

# Pivot series name values to be the columns
pivoted2020_df = yearlydata_2020.pivot_table(index=["Country Name", "Country Code"], 
                           columns="Series Name", 
                           values="2020 [YR2020]",
                           aggfunc='mean')
# Interpolate null values
pivoted2020_df_interpolated = pivoted2020_df.interpolate()
pivoted2020_df_interpolated.dropna()

# Save to csv
pivoted2020_df_interpolated.to_csv('2020_data.csv')

In [9]:
# Filter data frame to only include data for 2021
yearlydata_2021 = country_data_dropped.drop(columns=['2019 [YR2019]', '2020 [YR2020]', '2022 [YR2022]', '2018 [YR2018]'])

# Replace '..' with np.nan and convert the column to float
yearlydata_2021["2021 [YR2021]"] = yearlydata_2021["2021 [YR2021]"].replace('..', np.nan).astype(float)

# Pivot series name values to be the columns
pivoted2021_df = yearlydata_2021.pivot_table(index=["Country Name", "Country Code"], 
                           columns="Series Name", 
                           values="2021 [YR2021]",
                           aggfunc='mean')
# Interpolate null values
pivoted2021_df_interpolated = pivoted2021_df.interpolate()
pivoted2021_df_interpolated.dropna()

# Save to csv
pivoted2021_df_interpolated.to_csv('2021_data.csv')

In [10]:
# Filter data frame to only include data for 2022
yearlydata_2022 = country_data_dropped.drop(columns=['2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]', '2018 [YR2018]'])

# Replace '..' with np.nan and convert the column to float
yearlydata_2022["2022 [YR2022]"] = yearlydata_2022["2022 [YR2022]"].replace('..', np.nan).astype(float)

# Pivot series name values to be the columns
pivoted2022_df = yearlydata_2022.pivot_table(index=["Country Name", "Country Code"], 
                           columns="Series Name", 
                           values="2022 [YR2022]",
                           aggfunc='mean')
# Interpolate null values
pivoted2022_df_interpolated = pivoted2022_df.interpolate()
pivoted2022_df_interpolated.dropna()

# Save to csv
pivoted2022_df_interpolated.to_csv('2022_data.csv')